<h1><%= title %></h1>


<% if (messages.notice) { %>
    <div class="alert alert-success">
        <ul>
            <% messages.notice.forEach(function(msg) { %>
                <li><%= msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<% if (messages.error) { %>
    <div class="alert alert-danger">
        <ul>
            <% messages.error.forEach(function(msg) { %>
                <li><%= msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>


<div class=form>
    <form  action="/inv/add-classification" method="POST">
        <h1><%= title %></h1>
        <div class=className>
            <label>Classification: </label>
            <input type="text" name="classification_name" required value="<%= locals.classification_name %>">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>  
